[Desktop Entry]
Name=WeChat Unofficial
Comment=WeChat is a most popual IM app on mobile phone. WeChat Official can used to chat with friend after user authorize by QR code.
Type=Application
Icon=wechatunofficial.png
Exec=webapp-container --store-session-cookies --webappUrlPatterns=https?://wx.qq.com/* http://wx.qq.com %u
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
